<div class="card mt-1 ">

  <table class="table" dir="rtl">
    <thead class="text-center">
    <tr>
      <th scope="col">#</th>
      <th scope="col">زمان ثبت رویداد</th>
      <th scope="col">نوع رویداد</th>
      <th scope="col">وضعیت</th>
      <th scope="col">شرح رویداد</th>
      <th scope="col">عملیات</th>
    </tr>
    </thead>
    <tbody class="text-center">
    <tr>
      <th scope="row">1</th>
      <td>1397/12/20</td>
      <td>فروش</td>
      <td>کامل انجام شده</td>
      <td>فروش تعداد 200 سهم از موجودی پارسال</td>
      <td>ویرایش</td>
    </tr>
    </tbody>
  </table>
</div>
