<nav class="navbar navbar-expand-md navbar-dark fixed-top " dir="rtl">
  <a class="navbar-brand" href="#">یاداشتی</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">یادداشت ها<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">برترین ها</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">مشاوران</a>
      </li>
    </ul>

  </div>
</nav>





<div class="container-fluid ">

  <div class="row">

    <div class="col-md-8 ">
      <app-namad-info></app-namad-info>


      <button type="button" class="btn btn-block btn-success">افزودن رویداد</button>

      <app-namad-event-list></app-namad-event-list>


      <app-set-buy></app-set-buy>


<!--      <app-set-picture> </app-set-picture>-->

    </div>

    <div class="col-md-4"  dir="rtl">

      <div class="card p-2 mb-2">
        <div class="input-group">
          <input class="form-control" placeholder="جستجوی نماد"  #searchValue>
          <ul class="list-group search-suggest">
            <li class="list-group-item">تست 1</li>
            <li class="list-group-item">تست 2</li>
            <li class="list-group-item">تستت 3</li>
          </ul>
        </div>
      </div>

      <ul class="list-group mb-3 pr-0 namad-list">
        <li *ngFor="let item of namad | filterList:searchValue.value" class="list-group-item d-flex justify-content-between">
          <div (click)="getNamadInfo(item)">
            <h6 class="font-weight-bold" >
              {{item.symbol}}
              <small class="text-muted" [innerHTML]="item.name"></small>
            </h6>
          </div>
          <span class="text-muted">
            <i [ngClass]="item.favorite ? 'fas fa-star' : 'far fa-star'" class="favorite-item" (click)="favorite(item)"></i>
          </span>
        </li>
      </ul>


    </div>


  </div>
</div>








