/* You can add global styles to this file, and also import other style files */

%material-shadow{
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

%persian-font{
  font-family: 'samim',Roboto, "Helvetica Neue", sans-serif;
}

%box-shadow-none{
  box-shadow: none !important;
}


body {
  //min-height: 75rem;
  padding-top: 4.5rem;
  background-color: #fafafa;
  @extend %persian-font;
}



.navbar {
  @extend %material-shadow;
  background-color: #5e35b1 ;
}

.card , button {
  @extend %material-shadow;
}


button:focus,button:active {
  @extend %box-shadow-none;
}
